JYE Sistema/JYE Sistema/Service References/ServiceReference_J_E/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_J_E" />
  <xs:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClasesBase" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_J_E" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_J_E" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LOGIN_EMPLEADOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LOGIN_EMPLEADOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LOGIN_EMPLEADOSResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_NACIONALIDADES">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_NACIONALIDADESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClasesBase" minOccurs="0" name="SEL_NACIONALIDADESResult" nillable="true" type="q3:ArrayOfClases.NACIONALIDADES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_DET_PERSONAS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_DET_PERSONASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClasesBase" minOccurs="0" name="SEL_DET_PERSONASResult" nillable="true" type="q4:ArrayOfClases.DET_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INS_DET_PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClasesBase" minOccurs="0" name="DET_PERSONA" nillable="true" type="q5:Clases.DET_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INS_DET_PERSONASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INS_DET_PERSONASResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_MONEDAS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_MONEDASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClasesBase" minOccurs="0" name="SEL_MONEDASResult" nillable="true" type="q6:ArrayOfClases.MONEDAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_BANCOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SEL_BANCOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClasesBase" minOccurs="0" name="SEL_BANCOSResult" nillable="true" type="q7:ArrayOfClases.BANCOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>