JYE Sistema/JYE Sistema/Service References/ServiceReference_J_E/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClasesBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClasesBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClases.NACIONALIDADES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clases.NACIONALIDADES" nillable="true" type="tns:Clases.NACIONALIDADES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClases.NACIONALIDADES" nillable="true" type="tns:ArrayOfClases.NACIONALIDADES" />
  <xs:complexType name="Clases.NACIONALIDADES">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_NACIONALIDAD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clases.NACIONALIDADES" nillable="true" type="tns:Clases.NACIONALIDADES" />
  <xs:complexType name="ArrayOfClases.DET_PERSONAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clases.DET_PERSONAS" nillable="true" type="tns:Clases.DET_PERSONAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClases.DET_PERSONAS" nillable="true" type="tns:ArrayOfClases.DET_PERSONAS" />
  <xs:complexType name="Clases.DET_PERSONAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DET_ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_BANCO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DET_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MONEDA" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CUENTA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clases.DET_PERSONAS" nillable="true" type="tns:Clases.DET_PERSONAS" />
  <xs:complexType name="ArrayOfClases.MONEDAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clases.MONEDAS" nillable="true" type="tns:Clases.MONEDAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClases.MONEDAS" nillable="true" type="tns:ArrayOfClases.MONEDAS" />
  <xs:complexType name="Clases.MONEDAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_MONEDA" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clases.MONEDAS" nillable="true" type="tns:Clases.MONEDAS" />
  <xs:complexType name="ArrayOfClases.BANCOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clases.BANCOS" nillable="true" type="tns:Clases.BANCOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClases.BANCOS" nillable="true" type="tns:ArrayOfClases.BANCOS" />
  <xs:complexType name="Clases.BANCOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_BANCO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clases.BANCOS" nillable="true" type="tns:Clases.BANCOS" />
</xs:schema>