JYE Sistema/JYE Sistema/Service References/ServiceReference_J_E/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_J_E" />
      <xsd:import schemaLocation="http://localhost:2479/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClasesBase" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LOGIN_EMPLEADOS_InputMessage">
    <wsdl:part name="parameters" element="tns:LOGIN_EMPLEADOS" />
  </wsdl:message>
  <wsdl:message name="IService1_LOGIN_EMPLEADOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:LOGIN_EMPLEADOSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_NACIONALIDADES_InputMessage">
    <wsdl:part name="parameters" element="tns:SEL_NACIONALIDADES" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_NACIONALIDADES_OutputMessage">
    <wsdl:part name="parameters" element="tns:SEL_NACIONALIDADESResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_DET_PERSONAS_InputMessage">
    <wsdl:part name="parameters" element="tns:SEL_DET_PERSONAS" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_DET_PERSONAS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SEL_DET_PERSONASResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_INS_DET_PERSONAS_InputMessage">
    <wsdl:part name="parameters" element="tns:INS_DET_PERSONAS" />
  </wsdl:message>
  <wsdl:message name="IService1_INS_DET_PERSONAS_OutputMessage">
    <wsdl:part name="parameters" element="tns:INS_DET_PERSONASResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_MONEDAS_InputMessage">
    <wsdl:part name="parameters" element="tns:SEL_MONEDAS" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_MONEDAS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SEL_MONEDASResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_BANCOS_InputMessage">
    <wsdl:part name="parameters" element="tns:SEL_BANCOS" />
  </wsdl:message>
  <wsdl:message name="IService1_SEL_BANCOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SEL_BANCOSResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LOGIN_EMPLEADOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LOGIN_EMPLEADOS" message="tns:IService1_LOGIN_EMPLEADOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LOGIN_EMPLEADOSResponse" message="tns:IService1_LOGIN_EMPLEADOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SEL_NACIONALIDADES">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SEL_NACIONALIDADES" message="tns:IService1_SEL_NACIONALIDADES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SEL_NACIONALIDADESResponse" message="tns:IService1_SEL_NACIONALIDADES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SEL_DET_PERSONAS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SEL_DET_PERSONAS" message="tns:IService1_SEL_DET_PERSONAS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SEL_DET_PERSONASResponse" message="tns:IService1_SEL_DET_PERSONAS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="INS_DET_PERSONAS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/INS_DET_PERSONAS" message="tns:IService1_INS_DET_PERSONAS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/INS_DET_PERSONASResponse" message="tns:IService1_INS_DET_PERSONAS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SEL_MONEDAS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SEL_MONEDAS" message="tns:IService1_SEL_MONEDAS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SEL_MONEDASResponse" message="tns:IService1_SEL_MONEDAS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SEL_BANCOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SEL_BANCOS" message="tns:IService1_SEL_BANCOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SEL_BANCOSResponse" message="tns:IService1_SEL_BANCOS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LOGIN_EMPLEADOS">
      <soap:operation soapAction="http://tempuri.org/IService1/LOGIN_EMPLEADOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEL_NACIONALIDADES">
      <soap:operation soapAction="http://tempuri.org/IService1/SEL_NACIONALIDADES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEL_DET_PERSONAS">
      <soap:operation soapAction="http://tempuri.org/IService1/SEL_DET_PERSONAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INS_DET_PERSONAS">
      <soap:operation soapAction="http://tempuri.org/IService1/INS_DET_PERSONAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEL_MONEDAS">
      <soap:operation soapAction="http://tempuri.org/IService1/SEL_MONEDAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEL_BANCOS">
      <soap:operation soapAction="http://tempuri.org/IService1/SEL_BANCOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2479/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>